
nav {
  font-family: 'Open Sans Condensed', sans-serif;
  background-color: goldenrod;
  width: 96%;
  /* display: inline; */
  padding: 10px;
  margin: 20px;
  text-decoration: none;
  }

  a {
    font-family: 'Open Sans Condensed', sans-serif;
    color: blueviolet;
    font-size: 1em;
    display: inline;
    padding: 10px;
    margin: 20px;
    text-decoration: none;
    
    }
    
body {
background-color:lightgreen;

}

h1 {
  font-family: 'Open Sans Condensed', sans-serif;
  font-size: 3em;
  color: darkblue;
  margin: 20px;
  margin-top: 20px;
  line-height: 20px;
}

#redhead {
  font-family: 'Open Sans Condensed', sans-serif;
  font-size: 3em;
  color: red;
  margin: 20px;
  line-height: 80px;
}

p {
  color:darkslategrey;
  font-family: 'Times New Roman', Times, serif;
  font-size: 1em;
  margin-left: 50px;
  margin-right: 50px; 

}
#st {
  background: rgba(241, 214, 126, 0.842);
  background-image: url("../images/family.jpg");
  background-repeat: no-repeat;
  background-size: 1590px 1060px;
  border-style: solid;
  border-width: thin;
  border-color: black;
  border-radius: 25px;
  margin-left: 50px;
  margin-right: 50px; 
 

}


form {
  background-color: darkkhaki;
  font-family: 'Open Sans Condensed', sans-serif;
  font-size: 1em;
  margin: 20px;
  padding: 20px;

}
#add-box
background-color: darkkhaki;
width: 96%;
padding: 10px;
margin: 20px;
}

a,li {
  color: white;
font-family: 'Roboto Condensed', sans-serif;

}

h2 {
  color: red;
  font-family: 'Open Sans Condensed', sans-serif;
  margin: 5px;
  padding: 10px;
}

#tacoma {
  color: purple;
  float: right;
  font-family: 'Open Sans Condensed', sans-serif;
  font-weight: bold;
  margin: 5px;
  padding: 10px;

}
#fife {
  color: blue;
  font-family: 'Open Sans Condensed', sans-serif;
  font-weight: bold;
  float: left;
  margin: 5px;
  padding: 10px;

 
}

h3, h5 {
color: darkslateblue;
font-family: 'Antic Slab', serif;
font-weight: bold;

line-height: 20px;
margin: 20px;

}

h4 {
  color: black;
  font-family: 'Antic Slab', serif;
  font-weight: bold;
  line-height: 20px;
  margin: 20px;

  }

#contact {
  color: red;
  font-family: 'Antic Slab', serif;
  font-weight: bold;
  line-height: 20px;
  margin: 20px;

  }
.table {
font-family: 'Open Sans', sans-serif;
}
/* .picture-box {
  padding-top: 50px;
  text-align: center;
  display: inline;
  margin : 20px;
  direction: rtl;
} */

.sized {
  height: 200px;
  margin: 5px;
  margin-left: 21px;
  width: 200px;
  
}
#logo {
  float: right;
  height: 100px;
  margin: 30px;
  
  
}

footer {
  color: darkslategray;
  font-family: 'Open Sans Condensed', sans-serif;
  text-align: center;
}


/* margin: 30px;
padding: 20px; */