
nav {
  font-family: 'Open Sans Condensed', sans-serif;
  background-color: darkblue;
  width: 96%;
  /* display: inline; */
  padding: 10px;
  margin: 20px;
  text-decoration: none;
  }

  a {
    font-family: 'Open Sans Condensed', sans-serif;
    color: blueviolet;
    font-size: 1em;
    display: inline;
    padding: 10px;
    margin: 20px;
    text-decoration: none;
    
    }
    
body {
background-color:lightgreen;
}

h1 {
  font-family: 'Open Sans Condensed', sans-serif;
  font-size: 3em;
  color: darkblue;
  margin: 20px;
  line-height: 20px;
}
#logo {
  float: right;
  margin: 30px;
  padding: 20px;
 
}

/* section {
  width: 200px;
  display: inline;
  margin: 20px;
  padding: 20px;
  align: auto;
} */

form {
  font-family: 'Open Sans Condensed', sans-serif;
  font-size: 1em;
  margin: 20px;
  padding: 20px;
  background-color: darkkhaki;
}

/* img {
width: 300px;
} */

a,li {
font-family: 'Roboto Condensed', sans-serif;
color: darkgoldenrod;
}

h2 {
  font-family: 'Open Sans Condensed', sans-serif;
  color: darkslategray;
  margin: 5px;
  padding: 10px;
}
/* address {
  font-family: 'Open Sans Condensed', sans-serif;
  color: darkslategray;
  margin: 5px;
  padding: 10px;
 
} */
#tacoma {
  font-family: 'Open Sans Condensed', sans-serif;
  color: purple;
  margin: 5px;
  padding: 10px;
  float: right;
}
#fife {
  font-family: 'Open Sans Condensed', sans-serif;
  color: blue;
  margin: 5px;
  padding: 10px;
  float: left;
 
}

h3, h4, h5 {
font-family: 'Antic Slab', serif;
font-weight: bold;
color: darkslateblue;
margin: 20px;
line-height: 20px;
}
#contact {
  font-family: 'Antic Slab', serif;
  font-weight: bold;
  color: red;
  margin: 20px;
  line-height: 20px;
  }
.table {
font-family: 'Open Sans', sans-serif;
}
/* .picture-box {
  padding-top: 50px;
  text-align: center;
  display: inline;
  margin : 20px;
  direction: rtl;
} */

.sized {
  margin: 5px;
  margin-left: 21px;
  height: 200px;
  width: 200px;
  
}
#logo {
  height: 100px;
  margin: 2px;
  display: inline-block;
  
}

footer {
  font-family: 'Open Sans Condensed', sans-serif;
  color: darkslategray;
  text-align: center;
}